.box{
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 1px solid black
}

img {
    max-width: 100%;
    max-height: 100%;
    background-position: center;
}

.content{
    height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      background-color: white;
      opacity: 0.9;
      position: absolute;
}

.content h1{
    margin: 0 6px 0;

}